<div class="container">
        <div class="row">
          <div class="mui-col-md-12 mui-textfield">
            <h1>何かしらのエラーが発生したようです。。。</h1>
          </div>
          <div class="mui-col-md-8 mui-textfield">
            <p>大変申し訳ございません。<br>繰り返し表示されるようであれば、お手数ですがお問い合わせください。。</p>
            <p><a href="/">トップ</a>はこちら</p>
          </div>
          <div class="mui-col-md-4 mui-textfield">
            <img src="/img/500.png" class="error-500-img">
          </div>
        </div>
      </div>
