<div class="container">
        <div class="row">
          <div class="mui-col-xs-12">
            <h1>使い捨てマークダウンにようこそ(*･ω･)ﾉ</h1>
            <h3>当サイトは、Markdownを使い捨てで登録していただけるサイトです。</h3>
            <p>
              当サイトでは、こんな感じで表示できるMarkdownを使い捨てにすることを前提としています。<br>
              また、かなりシンプルな構成になっています。
            </p>
            <ul>
              <li>Markdownの登録・編集・削除（パスワード管理）</li>
              <li>Markdownの閲覧（パスワードにおる閲覧制限の設定が可能）</li>
            </ul>
            <p>のみが機能として備わっております。</p>
            <p>逆に</p>
            <ul>
              <li>登録したMarkdownの管理や検索</li>
              <li>画像のアップロード</li>
              <li>スマホからの使い勝手のよさ</li>
              <li>紛失時のURL再発行</li>
            </ul>
            <p>などは、機能として備わってません…。<br>ご了承ください。</p>
            <p>まずは使ってみましょう(･∀･)</p>
          </div>
        </div>
      </div>
