<div class="container">
        <div class="row">
          <div class="mui-col-md-10 mui-textfield">
            <h1>JavaScriptが無効になっています。</h1>
            <h3>当サイトでは、一部JavaScriptを有効にする必要があります。</h3>
            <p>
              ブラウザのオプションを変更して JavaScript を有効にし、<a href="/">再度お試しください。</a><br>
              有効にする方法は、こちらが大変参考になります。
              <a href="http://www.enable-javascript.com/ja" target="_blank">http://www.enable-javascript.com/ja</a>
            </p>
          </div>
          <div class="mui-col-md-2 mui-textfield">
            <img src="/img/error.png" class="error-img">
          </div>
        </div>
      </div>
