<div class="container">
        <div class="row">
          <div class="mui-col-md-10 mui-textfield">
            <h1>お探しのページが見つかりませんでした。。。</h1>
            <p>お探しのページは移動、または削除された可能性がございます。</p>
            <p><a href="/">トップ</a>はこちら</p>
          </div>
          <div class="mui-col-md-2 mui-textfield">
            <img src="/img/error.png" class="error-img">
          </div>
        </div>
      </div>
