<div class="container">
        <div class="row">
          <div class="mui-col-xs-12">
            <h2>ここでは、よくある（ありそう）な内容をQ&amp;Aであげています(*･ω･)ﾉ</h2>
            <ul>
              <li>Q: 画像アップロードはどうすればいいですか？</li>
              <li>A: <a href="https://imgur.com/" target="_blank">「Imgur.com」</a>などをご使用ください。</li>
            </ul>
            <ul>
              <li>Q: どんなタグが使えますか？</li>
              <li>A: パーサーは<a href="https://github.com/chjj/marked" target="_blank">「Marked.js」</a>を使用させていただいておりますので、そちらをご確認ください。</li>
            </ul>
            <ul>
              <li>Q: 独自にhtmlタグは使えますか？</li>
              <li>A: 一応使えないようにしているつもりです。</li>
            </ul>
            <ul>
              <li>Q: 独自cssが使いたいです。</li>
              <li>A: いつかそういう機能もつけたいですね！</li>
            </ul>
            <ul>
              <li>Q: 何となくレスポンスが遅いんですが…</li>
              <li>A: Herokuのフリープランのため、サーバーがアメリカにあり、レイテンシは高めです。。。</li>
            </ul>
            <ul>
              <li>Q: 利用規約やプライバシーポリシーは適用されますか？</li>
              <li>A: 管理人の不利益にならないよう、<a href="http://kiyaku.jp/" target="_blank">Webサイト用のテンプレート</a>を利用させて頂いていますが、常識の範囲内で使って頂ければOKです！</li>
            </ul>
            <ul>
              <li>Q: こんだけ？？</li>
              <li>A: すみません、そのうち増やします。。</li>
            </ul>
          </div>
        </div>
      </div>
