<div class="container">
        <div class="row">
          <div class="mui-col-xs-12">
            <h2>基本機能</h2>
            <ul>
              <li><a href="/">トップ</a></li>
              <li><a href="/edit">投稿</a></li>
            </ul>
            <h2>サイト情報</h2>
            <ul>
              <li><a href="/sitemap">サイトマップ</a></li>
              <li><a href="/rule">利用規約</a></li>
              <li><a href="/privacy">プライバシーポリシー</a></li>
              <li><a href="/versions">アップデート情報</a></li>
            </ul>
          </div>
        </div>
      </div>
