<div class="container">
        <div class="row">
          <div class="mui-col-xs-12">
            <h1>アップデート情報</h1>
            <h2>2019年</h2>
            <ul>
              <li><b>1月14日</b>
                <ul>
                  <li>CDN を更新</li>
                </ul>
              </li>
            </ul>
            <h2>2018年</h2>
            <ul>
              <li><b>12月18日</b>
                <ul>
                  <li>使用ライブラリのバージョンアップ</li>
                </ul>
              </li>
            </ul>
            <h2>2017年</h2>
            <ul>
              <li><b>08月18日</b>
                <ul>
                  <li>アップデート情報のページを設定</li>
                  <li>OGPおよびfavicon画像のURLを登録可能に変更</li>
                </ul>
              </li>
              <li class="versions-margin"><b>05月17日</b>
                <ul>
                  <li>不具合の微調整</li>
                  <li>画像ファイル等をリリース日フォルダに設定</li>
                </ul>
              </li>
              <li class="versions-margin"><b>05月06日</b>
                <ul>
                  <li>新規リリース！</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
