<div class="container">
        <div class="row">
          <div class="mui-col-xs-12">
            <div id="result"></div>
          </div>
        </div>
      </div>
      <textarea id="markdown" style="display:none;"><%= @markdown %></textarea>
      <input type="hidden" value="<%= @hash %>" id="hash">
