<div class="container">
        <div class="row">
          <div class="mui-col-xs-12">
            <div id="result"></div>
          </div>
        </div>
      </div>
      <input type="hidden" value="<%= @markdown %>" id="markdown">
      <input type="hidden" value="<%= @hash %>" id="hash">
